<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url('/assets/images/background-cover.jpg')">
  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<title></title>
	<link rel="stylesheet" href="css/player.css">
</head>
<body>
<div id="QPlayer">
<div id="pContent">
	<div id="player">
		<span class="cover"></span>
		<div class="ctrl">
			<div class="musicTag marquee">
				<strong>Title</strong>
				 <span> - </span>
				<span class="artist">Artist</span>
			</div>
			<div class="progress">
				<div class="timer left">0:00</div>
				<div class="contr">
					<div class="rewind icon"></div>
					<div class="playback icon"></div>
					<div class="fastforward icon"></div>
				</div>
				<div class="right">
					<div class="liebiao icon"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="ssBtn">
	        <div class="adf"></div>
    </div>
</div>
<ol id="playlist"></ol>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.marquee.min.js"></script>

<script>
	var	playlist = [
{title:"Moonlit Stardust",artist:"格里特 / THT",mp3:"music/Moonlit Stardust.mp3",cover:"https://p2.music.126.net/jUkeSJt_niqFmatr99mHXA==/109951163260027989.jpg?param=106y106",},
{title:"Let Her Go (Romantic Candlelight Piano Mix)",artist:"Atrax Morgue",mp3:"music/Atrax Morgue - Let Her Go (Romantic Candlelight Piano Mix).mp3",cover:"http://p2.music.126.net/JSa1fCWX3oob1APwUcYvXA==/2538772350020636.jpg?param=106y106",},
{title:"灌篮高手《直到世界尽头》--姜创钢琴版(cover)",artist:"姜创钢琴",mp3:"music/姜创钢琴 - 灌篮高手《直到世界尽头》--姜创钢琴版(cover).mp3",cover:"http://p1.music.126.net/dq3YI-xJ03SyMJwIk0dvig==/17808789835268501.jpg?param=106y106",},
{title:"花火が瞬く夜に",artist:"羽肿",mp3:"music/花火が瞬く夜に.mp3",cover:"http://p1.music.126.net/f7Nd9FSzVZMkTPWDW_rnOg==/736672800839982.jpg?param=106y106",},
{title:"Cherry Blossom",artist:"October",mp3:"music/October - Cherry Blossom.mp3",cover:"http://p2.music.126.net/D_XnnAmEQ_H4_6CxZkrMag==/8909342719915548.jpg?param=106.y106",},
];
  var isRotate = true;
  var autoplay = false;
</script>
<script src="js/player.js"></script>
<script>

function bgChange(){
	var lis= $('.lib');
	for(var i=0; i<lis.length; i+=2)
	lis[i].style.background = 'rgba(246, 246, 246, 0.5)';
}
window.onload = bgChange;
</script>

</body>
</html>


        <a href="https://funnychicken.netlify.app" title="前往 {{ site.title }} 的 主页" class="blog-button"><img src="/assets/images/avatar.jpg" width="80" alt="{{ site.title }} logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="https://funnychicken.netlify.app" title="前往 {{ site.title }} 的 主页" class="blog-button">{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
        {% endif %}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
        
        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
                {% for item in site.nav %}
                  <li class="navigation__item"><a href="{{item.url}}" target="_blank" title="{{item.description}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          
          <div>{% include social.html %}</div>
        </div>
      </div>
    </div>
    
    {% if site.cover_color %}
    <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="panel-cover--overlay cover-disabled"></div>
    {% endif %}
  </div>
</header>