<nav class="cover-navigation navigation--social">
<link rel="stylesheet" href="./../css/iconfont.css">
  <ul class="navigation">

  {% if site.social.github %}
  <!-- RSS -->
  <li class="navigation__item">
    <a href="https://wpa.qq.com/msgrd?v=1&uin=2696791698&site=miaoka.la&menu=yes%27" rel="author" title="QQ" target="_blank">
      <i class='social fa fa-qq'></i>
      <span class="label">QQ</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.github %}
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="https://weibo.com/7357495919" title="微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">WeiBo</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/2696791698" title="GitHub" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">GitHub</span>
    </a>
  </li>
  {% endif %}
  
  {% if site.social.github %}
  <!-- Twitter -->
  <li class="navigation__item">
    <a href="https://twitter.com/h2696791698" title="Twitter" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Google Plus -->
  <li class="navigation__item">
    <a href="https://www.youtube.com/channel/UCXxum7p-Iuusqujk4SfIO6w" rel="author" title="YouTube" target="_blank">
      <i class='social fa fa-youtube-play'></i>
      <span class="label">YouTube</span>
    </a>
  </li>
  {% endif %}

  {% if site.social.github %}
  <!-- Email -->
  <li class="navigation__item">
    <a href="https://space.bilibili.com/472986024" title="BiliBili">
      <i class="iconfont icon-bilibili-fill"></i>
      <span class="label">BiliBili</span>
    </a>
  </li>
  {% endif %}

  </ul>
</nav>
